/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.input-field {
    @apply w-full p-2 ml-2 text-sm border border-gray-400 rounded;
  }
  
  .btn {
    @apply px-10 py-2 font-medium rounded cursor-pointer;
  }
  
  .btn-green {
    @apply text-white bg-green-700;
  }
  
  .btn-white {
    @apply text-green-700 bg-white border border-green-700;
  }
  
  .btn:focus {
    @apply outline-none;
  }
  
  .btn-xs {
    @apply px-4 py-1;
  }
  
  .input-field:focus {
    @apply border-gray-600 outline-none;
  }
  
  .nuxt-progress {
    @apply fixed w-full bg-green-300;
    height: 5px;
    top: 70px;
    left: 280px;
  }
  